/* used to display the navigation menu in horizontal bar across top of site */


/* added these lines on 5apr2015 while removing the javascript hamburger slide-in menu for all screens */
#content h1 {
    padding-top: 0;
    margin-top: 5px;
    padding-bottom: 0;
    margin-bottom: 0;
}

/*
#homelink a:hover {
    color: #000000;
    text-decoration: none;
}
*/

/**************/

header {
    display: block;
    float: left;
    width: 100%; 
    position: absolute;
}

header nav {
    text-align: left;
/*    background: #ffffff; */
    background: transparent;
/*    font-family: "Open Sans", Arial, Helvetica, sans-serif;  */
    font: 1em/1em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; 
    padding-left: 1em;
}

header nav ul {
    margin: 0 0 0 6em; 
    padding: .4em 0 .5em 0; 
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin-left: 1em;
}

header nav ul li:first-child {
    margin-left: 0;
}

header nav ul li ul {
    display: none;
}

header nav a, header nav a:visited {
    color: #444;
    color: #888;
    text-decoration: none;
}

header nav a:hover {
    color: #000;
    text-decoration: underline;
}

#header-links a, #header-links a:visited {
    color: #444;
    color: #888;
    text-decoration: none;
}

#header-links a:hover {
    color: #000;
    text-decoration: underline;
}
/*
header #homelink a, header #homelink {
    color: #444;
    text-decoration: none;
}
*/

header #newhomelink {
    position: absolute;
    left: .5em;
    top: .4em;
    background: none;
    z-index: 99 !important;
    font: .9em/1.5 "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

header .worklinks a, header .worklinks a:visited {
    color: #444;
    text-decoration: none;
}

header .worklinks a:hover {
    color: #000;
    text-decoration: underline;
}

#newhomelink  {
    color: #888;
    font-weight: bold;
    text-decoration: none;
}

#newhomelink a:visited {
    color: #888;
    font-weight: bold;
    text-decoration: none;
}

#newhomelink a:hover {
    color: #000;
    text-decoration: underline; 
}
