<!-- tmpl_include name="header.tmpl" -->

<p>
<strong>Article source for : </strong> <a href="<!-- tmpl_var name="cgi_app" -->/blogpost/<!-- tmpl_var name="id" -->/<!-- tmpl_var name="cleantitle" -->"><!-- tmpl_var name="title" --></a>
</p>

<!-- tmpl_var name="markupcontent" --> 

<!-- tmpl_include name="footer.tmpl" -->
