</div> <!-- close id=sitewide -->
<div id="footermenu">
<ul>
<li><a title="Site description" href="<!-- tmpl_var name="cgi_app" -->/blogpost/17/JotHut-About">about</a></li> 
<li><a title="Site help" href="<!-- tmpl_var name="cgi_app" -->/blogpost/1854/JotHut-Help">help</a></li> 
<li><a title="Contact Administrator" href="<!-- tmpl_var name="cgi_app" -->/blogpost/1855/JotHut-Contact">contact</a></li>  
<li><a title="Archives" href="<!-- tmpl_var name="cgi_app" -->/blogarchives">archives</a></li> 
<li><a title="Show Tags" href="<!-- tmpl_var name="cgi_app" -->/tags">tags</a></li> 
<li><a title="Search" href="<!-- tmpl_var name="cgi_app" -->/searchform">search</a></li>
</ul>

<p>
 <a href="<!-- tmpl_var name="cgi_app" -->/textsize/verysmall"                title="Switch to very small text size"><span style="font-size:80%">A</span></a>
 &nbsp; &nbsp; <a href="<!-- tmpl_var name="cgi_app" -->/textsize/small"     title="Switch to small text size"><span style="font-size:100%">A</span></a>
 &nbsp; &nbsp; <a href="<!-- tmpl_var name="cgi_app" -->/textsize/medium"    title="Switch to default text size"><span style="font-size:120%">A</span></a>
 &nbsp; &nbsp; <a href="<!-- tmpl_var name="cgi_app" -->/textsize/large"     title="Switch to large text size"><span style="font-size:140%">A</span></a>
 &nbsp; &nbsp; <a href="<!-- tmpl_var name="cgi_app" -->/textsize/verylarge"     title="Switch to very large text size"><span style="font-size:160%">A</span></a>
 &nbsp; &nbsp; <a href="<!-- tmpl_var name="cgi_app" -->/theme/junconightmode" title="Change theme to night mode">night mode</a>
 &nbsp; &nbsp; <a href="<!-- tmpl_var name="cgi_app" -->/theme/junco" title="Change to default theme">default</a>
</p>
 
<p>
&copy; 2013 <a href="<!-- tmpl_var name="home_page" -->"><strong><!-- tmpl_var name="site_name" --></strong></a> - <!-- tmpl_var name="site_description" -->
<br />
current date: <!-- tmpl_var name="serverdatetime" -->
</p>

</div>

</section>

<script src="http://code.jquery.com/jquery-1.9.1.js"></script> 
<script src="<!-- tmpl_var name="home_page" -->/javascript/meanmenu/jquery.meanmenu.min.js"></script> 
<script>
jQuery(document).ready(function () {
    jQuery('header nav').meanmenu();
});
</script>

</body>
</html>

