
<form action="<!-- tmpl_var name="cgi_app" -->/login" method="post"> 

<p>
<label for="username">E-mail:</label><br />
<input type="text" id="email" name="email" maxlength="30" autofocus />
<br>
</p>

<p>
<label for="password">Password:</label><br />
<input type="password" id="password" name="password" maxlength="30" />
<br />
</p>

<p>
<label for="savepassword">Save login:</label>
<input type="checkbox" name="savepassword" value="yes" />
<br />
</p> 

<p>
<label for="blank">&nbsp;</label>
<input class="submitbutton" id="submit" type="submit" value="Login" />
</p> 

</form>
