<!-- tmpl_include name="header.tmpl" -->

<article class="h-entry">
<!-- tmpl_if parentid -->
<p class="greytext">
<!-- tmpl_if microblogposttype -->
<small><a title="<!-- tmpl_var name="replytotitle" -->" href="<!-- tmpl_var name="cgi_app" -->/microblogpost/<!-- tmpl_var name="replytoid" -->">parent post</a></small>
<!-- tmpl_else -->
<small><a title="<!-- tmpl_var name="replytotitle" -->" href="<!-- tmpl_var name="cgi_app" -->/blogpost/<!-- tmpl_var name="replytoid" -->">parent post</a></small>
<!-- /tmpl_if -->
<small> - <a href="<!-- tmpl_var name="cgi_app" -->/replies/<!-- tmpl_var name="replytoid" -->">discussion thread</a></small>
</p>
<!-- /tmpl_if -->

<div id="content" class="e-content">
<p id="microblogcontent">
<!-- tmpl_var name="microblogpost" -->
</p>
</div>

<p>
<small>
<span class="greytext">From <a class="p-author h-card" href="<!-- tmpl_var name="cgi_app" -->/user/<!-- tmpl_var name="authorname" -->"><!-- tmpl_var name="authorname" -->'s</a> : <a href="<!-- tmpl_var name="cgi_app" -->/microblog/<!-- tmpl_var name="authorname" -->">micro blog</a></span>
<br />
 created on <time class="dt-published" datetime="<!-- tmpl_var name="dtpublished" -->"><!-- tmpl_var name="createddate" --> at <!-- tmpl_var name="createdtime" --></time></small> 
<!-- tmpl_if importdateexists -->
<br />
<small><em>import date <!-- tmpl_var name="importdate" --></em></small>
<!-- /tmpl_if -->
 - <a class="u-url" title="permalink" href="<!-- tmpl_var name="cgi_app" -->/microblogpost/<!-- tmpl_var name="articleid" -->/<!-- tmpl_var name="urldate" -->/<!-- tmpl_var name="cleantitle" -->"><small>#</small></a>
<!-- tmpl_if replycount -->
 - <small><a href="<!-- tmpl_var name="cgi_app" -->/replies/<!-- tmpl_var name="articleid" -->">replies: <!-- tmpl_var name="replycount" --></a></small>
<!-- /tmpl_if -->
<br />
<!-- tmpl_if loggedin --> 
<small><a href="<!-- tmpl_var name="cgi_app" -->/reply/<!-- tmpl_var name="articleid" -->">reply</a></small> 
<!-- /tmpl_if -->
</p>

</article>

<!-- tmpl_include name="footer.tmpl" -->

