</div> <!-- close id=sitewide -->
<div id="footermenu">
<ul>
<li><a title="Site description" href="<!-- tmpl_var name="cgi_app" -->/blogpost/17/JotHut-About">about</a></li> 
<li><a title="Site help" href="<!-- tmpl_var name="cgi_app" -->/blogpost/1854/JotHut-Help">help</a></li> 
<li><a title="Contact Administrator" href="<!-- tmpl_var name="cgi_app" -->/blogpost/1855/JotHut-Contact">contact</a></li>  
<li><a title="Archives" href="<!-- tmpl_var name="cgi_app" -->/blogarchives">archives</a></li> 
<li><a title="Show Tags" href="<!-- tmpl_var name="cgi_app" -->/tags">tags</a></li> 
<li><a title="Search" href="<!-- tmpl_var name="cgi_app" -->/searchform">search</a></li>
</ul>
 
<p>
&copy; 2013 <a href="<!-- tmpl_var name="home_page" -->"><strong><!-- tmpl_var name="site_name" --></strong></a> - <!-- tmpl_var name="site_description" -->
<br />
current date: <!-- tmpl_var name="serverdatetime" -->
</p>

</div>

</body>
</html>
