<!-- tmpl_include name="header.tmpl" -->
<p>
Your changes have been saved.
</p>

<p>
<a href="<!-- tmpl_var name="cgi_app" -->/settings">Modify preferences again.</a>
</p>

<p>
<a href="<!-- tmpl_var name="home_page" -->">Back to home page.</a>
</p>

<p>
<a href="<!-- tmpl_var name="cgi_app" -->/user/<!-- tmpl_var name="username" -->">View your own user page.</a> (what everyone else will see)
</p>

<!-- tmpl_include name="footer.tmpl" -->
