<!doctype html>
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
  <title>enhanced typing mode</title>
<!-- 17sep2013  <meta charset=utf-8> -->
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css"> 
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="<!-- tmpl_var name="css_dir_url" -->/<!-- tmpl_var name="textsize" -->.css"  />
  <link rel="stylesheet" type="text/css" media="screen" href="<!-- tmpl_var name="home_page" -->/javascript/splitscreen/splitscreen.css" />
  <script src="<!-- tmpl_var name="home_page" -->/javascript/splitscreen/jquery.min.js"></script>
  <script src="<!-- tmpl_var name="home_page" -->/javascript/splitscreen/jquery.minitabs.js"></script>
  <script src="<!-- tmpl_var name="home_page" -->/javascript/splitscreen/app.js"></script>
  <script src="<!-- tmpl_var name="home_page" -->/javascript/splitscreen/minified.js"></script>
  <script src="<!-- tmpl_var name="home_page" -->/javascript/splitscreen/splitscreen.js"></script>

<script>
    window.onbeforeunload = function(){
     return 'You have begun to edit.';
};    

</script>

</head>
<body>


<header>
<nav>
<div id="navmenu">
<ul>
<li><a title="Home Page" href="<!-- tmpl_var name="home_page" -->"><!-- tmpl_var name="site_name"--></a></li>
<!--
<span id="headersearchlink"><li><a title="Search" href="<!-- tmpl_var name="cgi_app" -->/searchform">search</a></li></span>
<li><a title="Show Tags" href="<!-- tmpl_var name="cgi_app" -->/tags">tags</a></li> 
<!-- tmpl_if loggedin --> 
<li><a title="Your profile page, <!-- tmpl_var name="username" -->" href="<!-- tmpl_var name="cgi_app" -->/user/<!-- tmpl_var name="username" -->">YOU</a></li>
<li><a title="Posts by users that you are following" href="<!-- tmpl_var name="cgi_app" -->/followingstream">following</a></li>
<li><a title="Log out of your account" href="<!-- tmpl_var name="cgi_app" -->/logout">logout</a></li>
<li><a title="Create new article" href="<!-- tmpl_var name="cgi_app" -->/blogpostform">post</a></li>
<!-- tmpl_else --> 
<li><a title="Create an Account" href="<!-- tmpl_var name="cgi_app" -->/signup">sign-up</a></li>
<li><a title="Login" href="<!-- tmpl_var name="cgi_app" -->/loginform">login</a></li>
<!-- /tmpl_if -->
-->
<li><button class="bluebutton" id="moveButton">&gt;&gt;</button></li>
<li><button class="bluebutton" id="resetButton">&lt;&lt;</button></li> 
<li><button class="bluebutton" id="previewButton">preview</button></li> 
<li><button class="bluebutton" id="saveButton">save</button></li>
<li><span id="saveposttext">... post saved ...</span></li>
</ul>
</div>
</nav>
</header>

<div id="container">

  <div id="col_left" class="col">
   <form id="parulaform" method="post" action="<!-- tmpl_var name="cgi_app" -->/addarticle">
   <input type="hidden" id="splitscreencgiapp"     value="<!-- tmpl_var name="cgi_app" -->">
   <input type="hidden" id="splitscreenaction"     value="<!-- tmpl_var name="action" -->">
   <input type="hidden" id="splitscreenpostid"     value="<!-- tmpl_var name="articleid" -->">
   <input type="hidden" id="splitscreenpostdigest" value="<!-- tmpl_var name="contentdigest" -->">
    <span class="tools">
    <!--  <input id="textilesubmitbutton" type="submit" name="sb" value="Save"> -->
    </span>
    <textarea name="article" onkeypress="return countKeyStrokes()" id="tx_input" cols="80" rows="20" class="panel" autofocus><!-- tmpl_var name="editarticle" --></textarea>
   </form>
  </div> <!-- end col_left -->

  <div id="col_right" class="col">
    <div id="text_preview" class="panel">
    </div> <!-- end text_preview -->
  </div> <!-- end col_right -->

</div> <!-- end container -->

</body>
</html>
