<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8>
  <title>Textile live web editor</title>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css"> 
  <link rel="stylesheet" type="text/css" media="screen" href="/dvlp/junco/javascript/editor/app.css" />
  <script src="/dvlp/junco/javascript/editor/jquery.min.js"></script>
  <script src="/dvlp/junco/javascript/editor/jquery.minitabs.js"></script> 
  <script src="/dvlp/junco/javascript/editor/textile.js"></script> 
  <script src="/dvlp/junco/javascript/editor/app.js"></script>
  <script src="/dvlp/junco/javascript/editor/minified.js"></script>
  <script src="/dvlp/junco/javascript/editor/jr.js"></script>
  <link rel="stylesheet" type="text/css" href="<!-- tmpl_var name="css_dir_url" -->/<!-- tmpl_var name="textsize" -->.css"  />
</head>
<body>


<header>
<nav>
<div id="navmenu">
<ul>
<li><a title="Home Page" href="<!-- tmpl_var name="home_page" -->"><!-- tmpl_var name="site_name"--></a></li>
<!--
<span id="headersearchlink"><li><a title="Search" href="<!-- tmpl_var name="cgi_app" -->/searchform">search</a></li></span>
<li><a title="Show Tags" href="<!-- tmpl_var name="cgi_app" -->/tags">tags</a></li> 
<!-- tmpl_if loggedin --> 
<li><a title="Your profile page, <!-- tmpl_var name="username" -->" href="<!-- tmpl_var name="cgi_app" -->/user/<!-- tmpl_var name="username" -->">YOU</a></li>
<li><a title="Posts by users that you are following" href="<!-- tmpl_var name="cgi_app" -->/followingstream">following</a></li>
<li><a title="Log out of your account" href="<!-- tmpl_var name="cgi_app" -->/logout">logout</a></li>
<li><a title="Create new article" href="<!-- tmpl_var name="cgi_app" -->/blogpostform">post</a></li>
<!-- tmpl_else --> 
<li><a title="Create an Account" href="<!-- tmpl_var name="cgi_app" -->/signup">sign-up</a></li>
<li><a title="Login" href="<!-- tmpl_var name="cgi_app" -->/loginform">login</a></li>
<!-- /tmpl_if -->
-->
<li><button class="bluebutton" id="moveButton">&gt;&gt;</button></li>
<li><button class="bluebutton" id="resetButton">&lt;&lt;</button></li> 
</ul>
</div>
</nav>
</header>

<div id="container">

  <div id="col_left" class="col">
   <form id="parulaform" method="post" action="<!-- tmpl_var name="cgi_app" -->/addarticle">
    <input type="hidden" name="replytocontentdigest" value="<!-- tmpl_var name="replytocontentdigest" -->">
    <input type="hidden" name="formtype" value="enhanced">
    <span class="tools">
      <input id="textilesubmitbutton" type="submit" name="sb" value="Save">
    </span>
    <textarea name="article" id="tx_input" cols="80" rows="20" class="panel" autofocus></textarea>
   </form>
  </div> <!-- end col_left -->

  <div id="col_right" class="col">
    <div id="text_preview" class="panel">
    </div> <!-- end text_preview -->
  </div> <!-- end col_right -->

</div> <!-- end container -->

</body>
</html>

<!-- jr 10june2013 <a id="credit1" href="https://github.com/borgar/textile-js/">JS-Textile project home.</a> -->
